<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BackendTesting" parallel="tests" verbose="10">


 <listeners>
	<listener class-name="utills.Reporting" />

</listeners>


	<test name="Niki Beckend Services">

		<classes>
			<class name="com.companyName.TestCases.Login">
				<methods>
					<include name="verifyStatusCode" />

				</methods>

			</class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
